@font-face {
    font-family: "Roboto-Bold";
    src: url(../../font/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../../font/Roboto-Regular.ttf);
    font-weight: 400;
}