* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body{
  overflow: hidden;
}

button {
  background: transparent;
}