.header {
  background-image: url(/image/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;

  .banner {
    display: flex;
    align-items: center;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 75px;

    @include mediaMobileFirst(1040) {
      padding: 30px 50px;
    }

    &__links {
      @include dflex;
      column-gap: 36px;

      @include mediaMobileFirst(1040) {
        display: none;
      }
    }

    &__link {
      @include links;
      cursor: pointer;
    }
  }
  .nav-btn {
    display: flex;
    align-items: center;
    column-gap: 40px;

    &__text {
      @include links;
      cursor: pointer;

      @include mediaMobileFirst(1040) {
        display: none;
      }
    }

    &__btn {
      @include links;
      border: 1px solid #465b95;
      border-radius: 68px;
      padding: 10px 53px;
      cursor: pointer;
      transition: $transition;

      @include mediaMobileFirst(1040) {
        display: none;
      }
    }

    &__btn:hover {
      background-color: #fff;
    }
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    & > div {
      width: 30px;
      height: 3px;
      border: 2px solid #fff;
      display: none;

      @include mediaMobileFirst(1040) {
        display: flex;
      }
    }
  }
}
