.header-content {
  @include dflex;

  &__title {
    max-width: 540px;
    width: 100%;
    height: 120px;
    font-size: 50px;
    color: #fff;
  }

  &__text {
    @include text;
    max-width: 540px;
    width: 100%;
    margin-block: 15px 50px;
  }

  &__btn {
    background: #ef2a82;
    border-radius: 68px;
    padding: 15px 80px;
    border: none;
  }
}
