.header-banner {
  display: flex;
  align-items: center;

  &__item {
    max-width: 544px;
    width: 100%;

    &-title {
      font-size: 50px;
      line-height: 120%;
      color: #ffffff;
    }

    &-text {
      @include text;
      margin-block: 15px 50px;
    }

    &-btn {
      padding: 15px 80px;
      border: 2px solid #ef2a82;
      background: #ef2a82;
      border-radius: 68px;
      color: #ffffff;
      font-size: 16px;
      line-height: 19px;
      transition: $transition;
      cursor: pointer;
    }

    &-btn:hover {
      border: 2px solid #ef2a82;
      background-color: #ffffff;
      color: #ef2a82;
    }
  }

  &__content {
    max-width: 750px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
