.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;

  &__links {
    display: flex;
    align-items: center;
    column-gap: 36px;
  }

  &__link {
    @include links;
  }

  &__content {
    display: flex;
    column-gap: 80px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 40px;
}

&__text {
    @include links;
}

&__btn {
    padding: 10px 53px;
    border: 1px solid #465b95;
    border-radius: 68px;
    color: $textColor;
    background-color: $titleColor;
   
  }
}
