.nav {
  @include dflex;
  padding-block: 50px;

  &-link {
    display: flex;
    align-items: center;
    column-gap: 36px;

    &__links {
      @include links;
      cursor: pointer;
    }
  }

  &-btn {
    display: flex;
    column-gap: 40px;
    
    &__text {
      @include links;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    &__btn {
      padding: 10px 53px;
      border-radius: 68px;
      border: 1px solid #465b95;
      background: $titleColor;
      color: $textColor;
      cursor: pointer;

      @include mediaMobileFirst(840) {
          display: none;
      }
      
    }

    &__btn:hover {
      background-color: #fff;
      transition: $transition;
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;

    @include mediaMobileFirst(840) {
      display: flex;
    }
  }

  .burger-menu > div {
    width: 30px;
    height: 3px;
    background-color: #000;
  }
}
