.section-content {
  margin-top: 130px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 120px;
    

    &-title {
      @include sectionTitle;
      margin-bottom: 30px;
    }

    &-text {
      @include sectionText;
    }
  }
}
